// colours
$white: #fff;
$black: #000;

// Base apparel

$base-apparel-lightred: hsl(0, 36%, 70%);
$base-apparel-softred: hsl(0, 93%, 68%);
$base-apparel-darkred: hsl(0, 6%, 24%);

//bootcamp
$bootcamp-darkblue: hsl(240, 38%, 20%);
$bootcamp-grayblue: hsl(240, 18%, 77%);

// four card feature colours
$four-card-red: hsl(0, 78%, 62%);
$four-card-cyan: hsl(180, 62%, 55%);
$four-card-orange: hsl(34, 97%, 64%);
$four-card-blue: hsl(212, 86%, 64%);

// fylo

$fylo-darkblue: hsl(243, 87%, 12%);
$fylo-blue: hsl(238, 22%, 44%);
$fylo-brightblue: hsl(224, 93%, 58%);
$fylo-cyan: hsl(170, 45%, 43%);
$fylo-greyblue: hsl(240, 75%, 98%);
$fylo-lightgrey: hsl(0, 0%, 75%);

// four card feature neutral colours
$four-card-darkblue: hsl(234, 12%, 34%);
$four-card-grayblue: hsl(229, 6%, 66%);
$four-card-lightgray: hsl(0, 0%, 98%);

// huddle
$huddle-pink: hsl(322, 100%, 66%);
$huddle-palecyan: hsl(193, 100%, 96%);
$huddle-darkcyan: hsl(192, 100%, 9%);
$huddle-greyblue: hsl(208, 11%, 55%);
$huddle-violent: hsl(257, 40%, 49%);

// intro form
$intro-form-red: hsl(0, 100%, 74%);
$intro-form-green: hsl(154, 59%, 51%);
$intro-form-blue: hsl(248, 32%, 49%);
$intro-form-darkblue: hsl(249, 10%, 26%);
$intro-form-grayblue: hsl(246, 25%, 77%);

// ping
$ping-blue: hsl(223, 87%, 63%);
$ping-darkblue: hsl(209, 33%, 12%);
$ping-lightblue: hsl(223, 100%, 88%);
$ping-lightred: hsl(354, 100%, 66%);
$ping-grey: hsl(0, 0%, 59%);


// single price
$single-cyan: hsl(179, 62%, 43%);
$single-yellow: hsl(71, 73%, 54%);
$single-lightgrey: hsl(204, 43%, 93%);
$single-bluegrey: hsl(218, 22%, 67%);


// font
$font-primary: 'Poppins';
$font-base: 'Josefin Sans';
$font-bootcamp: 'Inter';
$font-single: 'Karla';
$font-open: 'Open Sans';
$font-raleway: 'Raleway';
