#four-card{
  .section-1{
    margin-top: 80px;
    h1:first-of-type{
      color: $four-card-darkblue;
      font-weight: 200;
      font-size: 40px !important;
    }
    h1{
      color: $four-card-darkblue;
      font-weight: 600;
      font-size: 42px !important;
      margin-bottom: 30px;
    }
    p{
      color: $four-card-grayblue;
      font-size: 18px;
      font-weight: 400;
      margin: auto;
      width: 45%;
    }
  }
  .section-2{
    margin-top: 50px;
    .row{
      display: flex;
      justify-content: center;
      align-items: center;
      .card{
        border-radius: 5px;
        border: none;
        height: 250px;
        border-top: 5px solid $four-card-cyan;
        padding: 15px 10px;
        margin-bottom: 30px;
        .card-title{
          font-weight: 600;
        }
        .card-text{
          font-size: 14px;
          padding-right: 15px;
          font-weight: 200;
        }
        .card-img{
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
          padding-bottom: 20px;
        }
      }
      .card-red{
        border-top: 5px solid $four-card-red;

      }
      .card-orange{
        border-top: 5px solid $four-card-orange;
      }
      .card-blue{
        border-top: 5px solid $four-card-blue;
      }
    }
  }
}

@media screen and (max-width: 600px){
  #four-card{
    .section-1{
      h1:first-of-type{
        font-size: 28px !important;
        margin-bottom: 10px;
      }
      h1{
        font-size: 29px !important;
      }
      p{
        width: 85%;
      }
    }
  }
}
